@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
  background: #ffefec;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  font-family: 'Ubuntu', sans-serif;
  text-align: justify;
}

section {
  margin-top: 30px;
  padding: 20px;
}

.container {
  margin: 0 auto;
  width: 250px;
  height: 240px;
  text-align: center;
  padding: 31px 10px 25px 10px;
  border: 3.8px solid #fff;
  border-radius: 10px;
  background-color: #cccccc;
}

input {
  padding: 13px 0 13px 0;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border: none;
  max-width: 230px;
}

div span {
  display: inline-block;
  width: 33.2px;
  padding: 10px;
  margin: 1px;
  background: #fff;
  border-radius: 3px;
}

div span:hover {
  background: #cce5cc;
  color: #fff;
}

#op-result {
  background: #b2b2ff; 
  color: #fff;
}

#op-result:hover {
  background: #99cc99;
}

.clear:hover {
	background: #f37067;
}

input[type] {
  color: #6666ff;
  font-size: 36px;
  text-align: right;
}
