@import url('https://fonts.googleapis.com/css?family=Ubuntu');
  body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 50%;
  font-family: 'Ubuntu', sans-serif;
  text-align: justify;
}

section {
  margin-top: 30px;
  background: tomato;
  padding: 20px;
}

h1, h2 {
  color: #002d8f;
}

h2 p {
  color: #b2b2b2;
}