@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 60%;
  height: auto;
  font-family: 'Ubuntu', sans-serif;
  text-align: justify;
}

section {
  margin-top: 30px;
  background: #b2d8b2;
  padding: 20px;
  text-align: center;
}

  #calendar{
    border:1px solid black;
    width:100%;
    height: auto;
  }
  .week{
    border:1px solid black;
    height: 155px;
  }
  /*galima dienas inline elemetais pasidaryti*/
  .day{
    border:1px solid black;
    width:150px;
    height: 150px;
    float: left;
  }